
.carousel-container {
    text-align: center;
    padding: 20px;
}

.carousel {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 20px;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    padding: 0 20px;
    text-align: left;
}

.carousel-item h3 {
    font-size: 20px;
    margin-top: 0;
}

.carousel ul {
    list-style-type: disc;
    padding-left: 20px;
}

h2 {
    font-size: 24px;
}

/* Styles for smaller screens (mobile) */
@media screen and (max-width: 768px) {
    .carousel {
        flex-direction: column; /* Stack items vertically on smaller screens */
        overflow: visible; /* Allow content to overflow container */
    }

    .carousel-item {
        width: 100%;
        padding: 20px 0;
    }
}
