#displayExercises {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    row-gap: 3rem;
    grid-template-columns: auto;
}

.exercises {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
}

.exercises img {
    width: 12rem;
    height: 12rem;
}

.exercises:hover {
    transform: scale(1.2);
    transition: 100ms;
}