*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::marker {
  content: none;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100vh;
  background: var(--colour-night-black);
  color: var(--colour-feta-white);
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button,
label,
h1,
input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}
/*General Styles*/
section.reviews .information button,
button.about-button,
button.cta-button {
  padding: 0.64rem;
  margin: 0 auto;
  max-width: min(32rem, 50%);
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.64rem;
  color: var(--colour-feta-white);
  background-color: var(--colour-torch-red);
}
section h1 {
  font-size: 2.24rem;
}
section h2 {
  font-size: 1.64rem;
}

/*End of General styles*/
main {
  display: flex;
  flex-direction: column;
}
section.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  gap: 0.64rem;
}

section.hero h1 {
  margin-top: auto;
  font-weight: 400;
  font-size: 1.512rem;
  text-align: left;
  max-width: 65%;
}
section.hero h1 strong {
  font-weight: 400;
  color: var(--colour-torch-red);
}
section.hero h2 {
  font-weight: 500;
  font-size: 3rem;
  text-align: left;
  max-width: 80%;
}

section.hero div.hero-carousel {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}
div.hero-carousel img {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  aspect-ratio: 16/9;
  transition: 300ms opacity ease-in-out;
}
div.hero-carousel img[data-active] {
  opacity: 1;
}
button.cta-button {
  margin-top: auto;
}
div.hero-carousel-buttons {
  margin-top: auto;
  align-self: center;
  display: flex;
  gap: 0.64rem;
}
div.hero-carousel-buttons button {
  width: 1.64rem;
  aspect-ratio: 1/1;
  border: 0.2rem solid #080f0f55;
  background: #080f0f25;
}
div.hero-carousel-buttons button:hover {
  background: var(--colour-torch-red);
}
.overlay-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom right, #080f0f25 35%, #f80e2450 65%);
}

section.about {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 1.24rem;
  padding: 1rem;
  max-width: 64rem;
  margin: 0 auto;
}

section.about h2 {
  text-align: center;
  color: var(--colour-torch-red);
}
section.about div:last-child {
  display: flex;
  flex-direction: column;
}
section.about h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.64rem;
}
section.about p {
  margin-bottom: 0.64rem;
  font-size: 1.24rem;
}
section.about p:first-of-type::first-letter {
  color: var(--colour-torch-red);
  initial-letter: 3;
}
button.about-button {
  margin: 2rem 0 0 0;
  justify-self: center;
  align-self: center;
}

section.features {
  display: flex;
  flex-direction: column;
  gap: 0.64rem;
  min-height: 50vh;
}
div.feature-stars {
  margin: 1rem 0 2rem 0;
  text-align: center;
  width: 100%;
}
section.features h2 {
  margin: 1rem 0;
  text-align: center;
}
section.features .feature-wrapper {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  max-width: 92rem;
  justify-content: center;
  flex-wrap: wrap;
}
section.features div.feature-card {
  border-top: 0.5rem solid var(--colour-torch-red);
  background: var(--colour-midnight-express-blue);
  width: 24rem;
  height: 32rem;
  padding: 1rem;
}
div.feature-card {
  display: flex;
  flex-direction: column;
}
div.feature-card h2 {
  color: var(--colour-torch-red);
  font-size: 2.24rem;
}
div.feature-card ul {
  display: flex;
  flex-direction: column;
  gap: 0.64rem;
  font-size: 1.16rem;
}
div.feature-card h3 {
  margin: auto;
  font-size: 2.24rem;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  width: fit-content;
  position: relative;
}
div.feature-card h3 strong {
  font-size: 1.16rem;
  text-decoration: line-through;
  color: dimgray;
}
div.feature-card h3::before {
  position: absolute;
  font-size: 1.64rem;
  left: 115%;
  top: 50%;
  transform: translateY(-50%);
  color: var(--colour-torch-red);
  content: "-10%";
}
div.feature-card:last-child h3::before {
  content: "-20%";
}

section.reviews {
  display: flex;
  flex-direction: column;
  max-width: 92rem;
  margin: auto;
  padding: 1rem;
  gap: 0.64rem;
}
section.reviews div.information {
  display: flex;
  flex-direction: column;
  gap: 0.64rem;
}
section.reviews h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
section.reviews p {
  font-size: 1.16rem;
  text-align: center;
  max-width: 64rem;
}
section.reviews .information button {
  margin-bottom: 1rem;
  max-width: min(50%, 26rem);
}
section.reviews .information p {
  margin: auto;
}
section.reviews .review-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.64rem;
  flex-wrap: wrap;
  max-width: 92rem;
}
section.reviews .slide {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.64rem;
  background: var(--colour-midnight-express-blue);
  padding: 1rem;
  border-radius: 0.64rem;
  max-width: 27rem;
  height: 20rem;
}
section.reviews .slide p {
  margin-top: auto;
}
section.reviews .user {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: 0.64rem;
  align-items: center;
}
section.reviews .user h3 {
  color: dimgray;
  font-size: 1.64rem;
}
section.reviews .user h4 {
  font-size: 1.32rem;
  color: var(--colour-torch-red);
}
section.reviews i {
  font-size: 5.12rem;
  color: var(--colour-torch-red);
  margin-left: auto;
}
section.reviews .user img {
  max-width: 6rem;
  border-radius: 50%;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.64rem;
  background: var(--colour-midnight-express-blue);
  padding: 1rem;
}
footer h1 {
  font-size: 2.24rem;
  color: var(--colour-torch-red);
}
footer h2 {
  font-size: 1.64rem;
}
footer h3 {
  font-size: 1.32rem;
  font-weight: 300;
}
footer h4 {
  font-size: 1.24rem;
  color: dimgray;
}
footer div.column1 {
  display: flex;
  flex-direction: column;
  gap: 0.64rem;
  align-items: center;
}
footer div.column1 img {
  width: 5rem;
  aspect-ratio: 1/1;
}
footer div.column2 {
  display: flex;
  flex-direction: column;
  gap: 0.64rem;
  align-items: center;
}
footer div.column1 div:first-child {
  display: flex;
  flex-direction: row;
}
footer div.column2 div:first-child {
  display: flex;
  flex-direction: column;
}

footer div.column2 div:first-child,
footer div.column1 div:first-child {
  gap: 0.64rem;
}

footer div.column1 div:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.32rem;
}
footer div.column2 div:last-child h2,
footer div.column1 div:last-child h2 {
  margin-bottom: 0.64rem;
}
footer div.column2 h3 a {
  color: var(--colour-feta-white);
  text-decoration: none;
}
footer div.column2 div:last-child i {
  font-size: 2.24rem;
  margin-right: 0.64rem;
  color: var(--colour-feta-white);
}

@media screen and (min-width: 64rem) {
  section.hero {
    padding-left: 10%;
  }
  section.hero h1 {
    font-size: 2.24rem;
  }
  section.hero h2 {
    font-size: 5.12rem;
  }
  section.hero button.cta-button {
    margin-top: 1rem;
  }
  section.hero div.hero-carousel-buttons {
    margin-top: 5rem;
  }
  footer {
    grid-template-columns: 1fr 1fr;
  }
}
